/* ----------------------------------------------------------------- PAGE FORM ----------------------------------------------------------------- */
section.page-form form {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 500px;
}
section.page-form form fieldset {
    margin-bottom: 20px;
}
section.page-form form input, section form textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
section.page-form form button {
    padding: 10px;
    background: #575656;
    border: none;
    color: white;
    cursor: pointer;
}
section.page-form form button:hover {
    background: #403f3f;
}
/* ----------------------------------------------------------------- PAGE ABOUT ----------------------------------------------------------------- */
section.page-about article {
    grid-column-start: 2;
    height: auto;
    /* min-height: none; */
    max-height: none;
    margin-bottom: 30px;
}
section.page-about article h2 {
    text-align: center;
}
section.page-about article p {
    text-align: justify;
}
/* ----------------------------------------------------------------- PAGE FORUM ----------------------------------------------------------------- */
section.page-forum {
    grid-column-start: 1;
}
section.page-forum article {
    margin: 15px;
}
section.page-forum article h2 {
    text-align: center;
}
section.page-forum article p {
    text-align: justify;
}
/* ----------------------------------------------------------------- PAGE ARTICLE ----------------------------------------------------------------- */
section.page-article {
    display: flex;
    flex-direction: column;
}
section.page-article article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    /* min-height: none; */
    max-height: none;
    /* min-width: none; */
    max-width: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
}
section.page-article article .article-images, section.page-article article .article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}
section.page-article article .article-images img {
    width: 500px;
    margin-bottom: 30px;
}
section.page-article article .article-content {
    padding-left: 30px;
}
section.page-article article .article-content h2 {
    text-align: center;
}
section.page-article article .article-content p {
    text-align: justify;
}

  /* ----------------------------------------------------------------- RESPONSIVE ----------------------------------------------------------------- */

  /* ----------------------------------------------------------------- MAX WIDTH 1100 -------------------------------------------------------------- */

  @media screen and (max-width: 1100px) {

    /* ----------------------------------------------------------------- PAGE ARTICLE -------------------------------------------------------------- */

    section.page-article article {
        flex-direction: column;
    }

    section.page-article article .article-content {
        padding-left: 0;
    }


  }

    /* ----------------------------------------------------------------- MOBILE ----------------------------------------------------------------- */

@media screen and (max-width: 767px) {

    section.page-form form, section.page-about article {
        grid-column-start: unset;
    }

}