/* PAGINATION */
section nav.pagination {
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    grid-column-start: span 3;
}
section nav.pagination ul {
   display: flex;
   flex-direction: row;
   padding: 0;
   margin-top: 30px;
   justify-content: center;
   
}
section nav.pagination ul li {
    list-style: none;
    padding: 10px;
    color: black;
    background-color: black;
    border: 1px solid #a8a8a8;
}
section nav.pagination ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
section nav.pagination ul li:hover {
    background-color: orange;
}
section nav.pagination ul li:hover a {
    color: black;   
}



